*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* https://coolors.co/fefeec-fee7c2-403f4c-8499b1-d9bbf9 */


.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


html,body{
    margin:0px;
    height: 100vh;
}

.hersey{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #FEE7C2;
}

#tepe{
    background-color: #403F4C;
    color: #fefeec;
    font-size:4rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    justify-content: center;
    padding: 2vh 10vw;
}


#tepe2{
    display: flex;
    justify-content: space-around;
    padding: 5vh 20vw;
    gap:20px;
    color: #403F4C;
    margin:0px;
    /* margin-top: 10px; */
}

.yaziyeri{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vh;
}

.mor{
    color:#AB69F2;
}

ul{
    list-style-type: none;
    justify-content: space-around;
    display:flex;
    margin:0px;
    padding:0px;
    gap: 20px;
    font-size: 23px;
    font-weight: 900;
}

li{
    cursor: pointer;
}


/* ORTA BASLANGICI=================================================== */
.card{
    max-width:50%;
    justify-content: stretch;
    margin:0px;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    margin:0px;
}

#album{
    display:flex;
    justify-content: center;
    align-items: stretch;
    /* height: calc(90%-20px); */
    width: auto;
    align-self: center;
    flex-wrap: wrap;
    margin:10px;
    border-radius: 2vmin;
    border: 2vmin solid #AB69F2;
    gap:0px;
}

#orta{
    display:flex;
    flex-direction: column;
    flex-shrink: 2;
    margin:0px;
    background-color: #FDD89B;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px inset, rgba(0, 0, 0, 0.22) 0px 10px 10px inset;
}


#footer{
    background-color: #8499b1;
    width:100%;
    color:#fefeec;
    display:flex;
    justify-content: center;
    padding: 1vh;
    margin:0px;
    /* height: 100%; */
}

/* MENU ITEM======================= */
.menuitem{
    display:flex;
    flex-direction: column;
    border-radius: 2vmin;
    border: 2vmin solid #AB69F2;
    /* width: 100vw; */
    height: 78vh;
    width: 70vh;
}

.menuitem span{
    text-align: center;
}

.menuitem img{
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}


.menuAlbum{
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: space-evenly; */
    width: 100%;
    height: 100%;
    /* flex-wrap: wrap; */
    margin:0px 5vw;
    gap:0.5vh 2vw;
    background-color: #FDD89B;  
    overflow: hidden;
}

#menuContainer{
    display:flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.smallButton{
    cursor: pointer;
}



/* HAKKINDA SAYFASI================= */
.harita{
    border: 2vmin solid #AB69F2; 
    border-radius: 2vmin;
    flex-grow: 1;
}

.orta3{
    background-color: #FDD89B;  
    width: 100%; 
    height: 80%;
    display: flex;
    padding: 0 10%;
    flex-direction: column; 
    align-items:stretch;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px inset, rgba(0, 0, 0, 0.22) 0px 10px 10px inset;
}


/* Mobil */
@media (max-width:700px) { 
    #tepe2{
        order:3;
    }
    #orta{
        order:2;
    }
    #footer{
        order:10;
    }

    .menuAlbum{
    margin:0px;
    gap:2px;
    align-items: center;
    flex-wrap: wrap;
    }



    #footer{
        font-size:1rem;
    }

    ul{
        font-size:1.5rem;
        /* font-size: 90px; */
        gap:1.5rem;
    }
}