*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* https://coolors.co/fefeec-fee7c2-403f4c-8499b1-d9bbf9 */

.hersey{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 100vh;
    margin: 0px;
    background-color: #FEE7C2;
    /* gap: auto; */
}



html,body{
    margin:0px;
    height: 100vh;
}

.tepe{
    background-color: #403F4C;
    color: #fefeec;
    font-size:18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    justify-content: center;
    padding: 2vh 10vw;
}


.tepe2{
    display: flex;
    justify-content: space-around;
    padding: 5vh 20vw;
    gap:20px;
    color: #403F4C;
    margin:0px;
    /* margin-top: 10px; */
}

.yaziyeri{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.mor{
    color:#AB69F2;
}

ul{
    list-style-type: none;
    justify-content: space-around;
    display:flex;
    margin:0px;
    padding:0px;
    gap: 20px;
    font-size: 23px;
    font-weight: 900;
}

li{
    cursor: pointer;
}


/* ORTA BASLANGICI=================================================== */
.card{
    display:flex;
    width:50%;
    justify-content: center;
    margin:0px;
}

.card img{
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.orta{
    display:flex;
    flex-direction: column;
    margin:0px;
    /* margin-bottom: 10px; */
    background-color: #FDD89B;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px inset, rgba(0, 0, 0, 0.22) 0px 10px 10px inset;
}

.album{
    display:flex;
    justify-content: center;
    align-items: stretch;
    /* height: 100%; */
    width: auto;
    max-width: 1000px;
    align-self: center;
    flex-wrap: wrap;
    margin:0px;
    gap:0px;
    border-radius: 2vmin;
    border: 2vmin solid #AB69F2;
}

.footer{
    background-color: #8499b1;
    width:100%;
    color:#fefeec;
    display:flex;
    justify-content: center;
    padding: 1vh;
    margin:0px;
}